@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --bg-gray: #ddd;
    --color-primary: #4d41c0;
    --white: #fff;
    --text-gray: #4A4A4A;
    --text2-orange: orange;
    --text-light-gray: #aaa;
    --star-yellow: #ffbb3a;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* html, body */
html, body {
    background-color: var(--bg-gray);
}

/* header */
header {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    color: orange;
    height: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

nav h1:hover {
    color: var(--white);
    transition: 2s;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

a, a:hover {
    color: var(--white);
    text-decoration: none;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;
}

.dsmovie-contact-container img {
    margin-right: 10px;
    cursor: pointer;
}

.dsmovie-contact-container img:hover {
    background-color: black;
    border-radius: 75%;
    transition: 1s;
}

.dsmovie-contact-container a:hover {
    color: var(--text2-orange);
    transition: 1s;
}

#dsmovie-card-list {
    padding: 40px 10px;   
}

.dsmovie-card {
    width: 80%;
}

.dsmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmovie-card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 20px 20px;
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
    height: 160px;
}

.dsmovie-card-description h3 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

/* AREA DAS AVALIAÇÕES - STARS*/
.dsmovie-card-description-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmovie-card-description-bottom h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}

.dsmovie-card-description-bottom p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light-gray);
    margin-bottom: 10px;
}

.dsmovie-card-description-bottom img {
    width: 22px;
}

.dsmovie-btn, .dsmovie-btn:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}

.dsmovie-btn:hover {
    background-color: var(--text2-orange);
    color: var(--color-primary);
}

/* FORM */
.dsmovie-form-container {
    padding: 40px 0;
    max-width: 280px;
}

.dsmovie-form-description {
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

.dsmovie-form {
    width: 100%;
}

.dsmovie-form-description h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.dsmovie-form-group {
    margin-bottom: 20px;
}

.dsmovie-form-group label {
    font-size: 12px;
    color: var(--text-light-gray);
}

.dsmovie-form-btn-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

